@import "tailwindcss";

/* #cvPreview {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cvPreview h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #1a365d;
}

#cvPreview h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3748;
    border-bottom: 2px solid #ecc94b;
    padding-bottom: 4px;
}

#cvPreview p {
    font-size: 0.875rem;
    color: #4a5568;
} */

nav{
height: 400px;
   
background-image: linear-gradient(to right,  rgba(41, 41, 252, 0.5) ,rgba(253, 169, 11, 0.5)), 
                  url('/images/p.jpg');
background-size: cover;
background-position: center;

   
}

.clip-path-triangle {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}
.clip-path-triangle1 {
    clip-path: polygon(0 100 , 100% 100%, 80% 100%, 0% 100%);
}

@media print {
    body * {
        visibility: hidden;
    }
    #cvPreview, #cvPreview * {
        visibility: visible;
    }
    #cvPreview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
/* font different */
.style1 {
    --primary-color: #2563eb;
    --secondary-color: #1e40af;
    --text1-color:black;
    --text-color:white;
}

.style2 {
    
    --text-color: #2563eb;
    
}

.style3 {
    --primary-color: #8b5cf6;
    --secondary-color: #6d28d9;
    --text-color: #4c1d95;
}
#cvPreview {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

#cvPreview .sidebar {
    background-color: var(--primary-color);
    color: white;
   
}
.sidebar h3{
    background-color: var(--primary-color);
    color: white;
   
}

#cvPreview .main-content {
    background-color: white;
  
}

#cvPreview  h2 {
    color: var(--text-color);
    background-color: var(--primary-color);
    

}
#cvPreview h3  {
    color: var(--text-color);
    background-color: var(--primary-color);
    

}
 #cvPreview h1 {
    color: var(--text1-color);
    

   
}
/* style de police */
.fontStyle1 {
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
}

.fontStyle2 {
    --font-family: 'Roboto', sans-serif;
    --font-size: 18px;
    --line-height: 1.8;
}

.fontStyle3 {
    --font-family: Georgia, serif;
    --font-size: 20px;
    --line-height: 1.7;
}


#cvPreview h2, #cvPreview h3 , #cvPreview p{
    font-family: var(--font-family);
    font-weight: bold;
}